html {
    scroll-behavior: smooth;
}

#profiel {
    padding-top: 50px;
}

.profiel_img {
    padding-top: 50px;
    width: 40%;
    margin: auto;
}

#studiemonitor {
    padding-top: 50px;
}

#studiewijzer {
    padding-top: 50px; 
    padding-bottom: 50px;
}

img {
    width: 100%; 
    padding-top: 25px;
}

td {
    width: 25%;
}
 
#profiel_table th, {
    width: 50%;
}