html {
    scroll-behavior: smooth;
}

#home,
#profiel,
#studiemonitor,
#studiewijzer {
    padding-top: 50px;
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
    padding: 5px;
}

#duinen {
    width: 100%; 
    position: fixed;
    bottom: 0px;
}

td {
    width: 25%;
}
 
#profiel_table th, {
    width: 50%;
}

